*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    font-family: 'Muli', sans-serif;
    background-color: #EEEAE4;
}

.navbar{
    background-color: #111;
}
.nav-icon{
    height: 70px;
    width: 70px;
}
.nav-brand-name{
    color: #fff;
    padding-left: 5px;
    font-size: 1.5rem;
}
.navbar-nav{
  margin-left: auto;
}

li{
    padding-left: 50px;
}
.link-color{
    color: #C9A96A;
}
.item5{
    padding-right: 50px;
}

/* booking */

.booking{
    background-color: #fff;
    height: 500px;
    width: 800px;
    margin: 50px auto;
}

.title{
    text-align: center;
    padding-top: 50px;
    font-family: 'Volkhov', serif;
    font-size: 2rem;
}

.arr-date{
    margin-top: 30px;
}

.arr-date-text{
    margin: 50px 30px;
    padding-left: 30px;
}

.dep-date{
    margin-top: 30px;
}

.dep-date-text{
    margin: 50px 30px;
}

.name{
    margin-top: 50px;
}

.name-text{
    margin: 30px 30px;
    padding-left: 30px;
}

.adults{
    margin-top: 50px;
}


.adult-text{
    margin: 50px 30px;
}

.children{
    margin-top: 30px;
}

.child-text{
    margin: 30px;
}

.email{
    margin-top: 30px;
}

.email-text{
    margin: 50px 30px;
    padding-left: 30px;
}

.phone{
    margin-top:50px;
}

.phone-text{
    margin: 30px;
}

.checkbox{
    margin-top: 50px;
    margin-left: 250px;
    width: 15px;
    height: 15px;
}
.checkbox-text{
    padding-left: 10px;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
}


/* booking */


/* button */

.container{
    text-align: center;
}

.btn {
    margin: 30px auto;
    size: 3px;
    color: #F8F7F7;
  }
  
  .btn-outline {
    color: #6B6B6B;
    background-color: #6B6B6B;
    border-style: solid;
    border-width: 1px;
    border-radius: 100px;
    border-color: #6B6B6B;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }
  
  .btn-outline {
    color: #6B6B6B;
    background-color: #ffffff;
    border-color: #6B6B6B;
    font-weight: bold;
    border-radius: 5%;
    border-style: solid;
    border-width: 3px;
  }
  
  .btn-outline:hover,
  .btn-outline:active,
  .btn-outline:focus,
  .btn-outline.active {
    background: #fff;
    color: #C9A96A;
    border-color: #C9A96A;
  }
  
  .btn-text {
    font-size: 1rem;
    font-family: 'Muli', sans-serif;
  }
  





/* button */